$colors: (
	'blanc':#fff,
	'rouge' :#D61530,
	'bleu' : #0B499A, //bleu principal
	'bleu-fonce' : #30358C,
	'bleu-clair' : #EAF9F9,//pour les fonds
	'fond' : #EAF9F9,//pour les fonds
	'gradient' : linear-gradient(#37b0b0,#064999), 
	'violet' :#99066E,
	'cyan' : #37b0b0,
	'noir' : #101631, // texte
	'gris' : #82879A //texte grisé

);

:root {
	@each $name, $color in $colors {
	
	--#{$name} : #{$color};
	}

}


@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
	a.wp-block-button__link.has-#{$name}-background-color {
		border-color:$color;
		&:focus, &:hover {
			background-color:transparent;
			color:$color;
			border-color:$color;
			text-decoration: none;
		}
	}


}

