/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition:0.5s ease-in-out;
}
a,
a:visited {
	color: var(--cyan);
	transition: color var(--transition);
}

a:hover,
a:active,
a:focus {
	color: var(--bleu);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.fleche {
	text-align: center;

	a, button {
		--lien:var(--cyan);

		background-color: transparent;
		border:none;
		color:var(--lien);
		display: inline-block;
		font-size: 122%;
		font-weight:700;
		line-height:1.36;
		margin:1em auto;
		outline: none;
		padding:8px;
		position: relative;
		text-decoration: none;
		text-transform: none;
		transition-property: border,color;

		&::after {
			background-color: var(--lien);
			bottom:-8px;
			content:'';
			display: block;
			height:2px;
			left:-8px;
			position: relative;
			transition:background-color var(--transition);
			width:100%;
			width:calc(100% + 16px);
		}
		
		svg {
			margin-left: 6px;
			max-width:6px;
			position: relative;
			top:4px;
			@include bp(md) {
				margin-left: 8px;
				max-width:11px;
				top:2px;
			}

			path {
				fill:var(--lien);
				transition: fill var(--transition);

			}

			
		}

		&:hover, &:focus, &:active {
			--lien : var(--bleu);
			&::after {
				animation: animTrait 1s cubic-bezier(0.7,0,0.3,1) both;
			}
		}
	}
	

	/*Variante avec les couleurs inversées*/
	&.bleu {
		a, button {
			--lien : var(--bleu);
			&:hover, &:focus, &:active {
				--lien : var(--cyan);
			}
		}
		
	}
	&.blanc {
		a, button {
			--lien : var(--blanc);
			&:hover, &:focus, &:active {
				--lien : var(--blanc);
			}
		}
		
	}

	/*Variante avec la fleche vers le bas*/
	&.angle-bas {
		a, button {
			svg {
				margin-left: 4px;
				max-width: 12px;
				top: 6px;
				@include bp(md) {
					margin-left: 7px;
					max-width: 18px;
					top: 6px;
				}
			}
		}
	}


	
}
@keyframes animTrait {
	from { 
		width: 0; 
	}
}
/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;
	.ancre {
		left:0;
		position:absolute;
		top:calc(-1px * var(--header-bottom));
	}
}

/*--------------------------------------------------------------
## Fil d'ariane
--------------------------------------------------------------*/
p.fil-ariane {
	margin-bottom:28px;
	a {
		text-decoration: none;
	}
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/*Logique pour afficher/masquer éléments du menu mobile et sous-menus*/ 

.main-navigation {
	clear: both;
	display: block;

	.volet-navigation {
		display: none; // par défaut le menu est caché en mobile
	}

	ul {
		display: none; // par défaut le menu est caché en mobile
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.menu-toggle {
		display: block;
	}

	svg.times { //croix pour refermer le menu
		display:none;
	}

	&.toggled { //menu mobile ouvert
		.volet-navigation {
			background: var(--gradient);
			display: flex;
			flex-direction: column;
			height: 100Vh;
			left:0;
			overflow-y: auto;
			padding:42px 0;
			position:absolute;
			top:150px; 
			top:var(--header-bottom); // calculé en JS, tient compte de la topbar
			width:100vw;
			z-index: 10;
		}
		ul.menu {
			align-items:center;
			display: flex;
			flex-direction: column;
		}

		svg.menu { //cacher hamburger 
			display:none;
		}
		svg.times { // afficher croix
			display:block;
		}
	}


	@include bp(md) { //menu
		width: 100%;

		.menu-toggle {
			display: none;
		}
		.volet-navigation {
			background: #fff;
			display: flex;
			flex-direction: row;
		}
		ul.menu {
			align-items: center;
			display: flex;
			justify-content: flex-end;

			ul { //sous-menu
				background-color:var(--blanc);
				border: solid 1px #EAE7E1;
				float: left;
				margin-top:0px;
				position: absolute;
				top: 90%;
				left: -999em;
				z-index: 10;
			}

			> li { //affichage du sous-menu
				position: relative;
				&:hover, &.focus { //classe .focus ajoutée en JS
					ul {
						display:flex;
						flex-direction: column;
						left: calc(50% - 130px);
						padding:20px;
						width:260px;
					}
				}
			}
		}

		//Menu sticky desktop : liens alignés à droite
		&.sticky {
			ul.menu {
				justify-content: flex-end;
			}
		}

	}
	
}


/* Style pictos menu mobile */

.menu-toggle {
	background:transparent;
	border:0;
	margin-left: auto;
	margin-right: 0;
	max-width:60px;
	&:hover, &:focus, &:active {
		background:transparent;
	}
}

/*Style liens de menus*/ 

.main-navigation {
	li {
		padding: 20px 1rem;	
		text-align:center;
	}

	a {
		color:var(--noir);
		display: block;
		font-weight: 500;
		text-decoration: none;

		&:hover, &:focus, &:active {
			color :var(--bleu);
		}
	}

	.current-menu-item > a, .current-menu-ancestor > a {
		color:var(--cyan);
	}

	//sous-menu
	ul.menu {
		ul {
			padding-top:2rem;
			li {
				padding:0.5rem;
				margin-left:0;
				a {
					font-size:1rem;
					text-transform: unset;
				}
			} 

			
		}
	}

	
	


	//Bouton de connexion et lien de déconnexion
	.connexion {
		background-color: transparent;
		border:none;
		color:var(--blanc);
		font-size:17px;
		font-weight: normal;
		margin:0;
		padding:0;
		padding-left:12px;
		text-transform: unset;
		svg {
			margin-right: 10px;
			width:17px;
		}

		//deplacés en haut à droite en desktop + couleurs et position picto différentes
		@include bp(md) {
			align-items: center;
			display: flex;
			flex-direction: row-reverse;
			font-size: 16px;
			font-weight: medium;
			line-height: 19px;
			position: absolute;
			right:var(--padding-x-header);
			top:10px;
			svg {
				margin-right:0;
				margin-left:4px;
				path {
					transition:fill var(--transition);
				}
			}
			//lien de déconnexion
			&.lien {
				color:var(--bleu);
				svg path {
					fill:var(--bleu);
				}
				&:hover, &:focus, &:active {
					color:var(--cyan);
					svg path {
						fill:var(--cyan);
					}
				}
			}
			//bouton de connexion
			&.bouton {
				color:var(--cyan);
				svg path {
					fill:var(--cyan);
				}
				&:hover, &:focus, &:active {
					color:var(--bleu);
					svg path {
						fill:var(--bleu);
					}
				}
			}
		}
	}

}