.home {
	.entry-header {
		h1 {
			font-size:1.5rem;
			line-height: calc(101/76);
			font-weight: 500;
			span {
				display: block;
				font-weight: 300;
				line-height: calc(73/55);
			}
			animation: animBaseline 5s ease-out 0s 1 normal forwards;
		}
		.sep {
			animation: animTraitBaselineMobile 5s ease-out 0s 1 normal forwards;
			background-color: #fff;
			height:4px;
			margin:10px auto 20px;
			width:26px;
		}
		.baseline {
			animation: animH1 5s ease-out 0s 1 normal forwards;
			font-weight: 300;
			font-size: 1.5rem;
			text-align: center;
			text-transform: uppercase;
		}
		@include bp(md) {
			h1 {
				@include taille(40);
				font-weight: 300;
				span {
					@include taille(40);
				}
			}
			.sep {
				animation: animTraitBaselineTablette 5s ease-out 0s 1 normal forwards;
				height:8px;
				margin : 16px auto;
				width:50px;
			}
			.baseline {
				font-weight: 700;
				font-size: 38px;
				margin-bottom: 16px;
			}
		}
		@include bp(lg) {
			h1 {
				font-size: 80px;
				span {
					font-size: 54px;
				}
			}
			.baseline {
				font-size: 3rem;
				margin-bottom: 0.5em;
			}
			.sep {
				margin : 26px auto;
			}
		}
	}
}