
.archive, .blog {
	.entry-header {
		h1 span {
			@include taille(50);
			line-height: calc(50/66);
		}
	}
}
.single-post .entry-meta {
	text-align: center;
}

.entry-content {
	&.loop {
		article {
			margin-bottom:var(--margin-y);
		}
		h2.item-title {
			margin-bottom:0;
			a {
				text-decoration: none;
			}
		}
	}

	.search-form {
		margin: 2rem auto;
	}

}
