.search-results {
	article {
		margin-bottom: var(--margin-y);
		h2 {
			a {
				text-decoration: none;
			}
			&::after {
				display: none;
			}
		}
		p {
			margin-bottom: 0;
		}
		.entry-meta {
			font-weight:500;
			margin-bottom: 5px;
		}
	}
}