//Affichage vignette - réutilisable
.actualite {
	margin-bottom: 18px;
	.image-wrapper {
		margin-bottom: 14px;
		position: relative;
		width:100%;
	}
	.date {
		align-items: center;
		background-color: var(--bleu);
		bottom:-9px;
		color:var(--blanc);
		display: flex;
		flex-direction: column;
		font-weight: 700;
		height:54px;
		left:6px;
		line-height: 1;
		justify-content: center;
		position: absolute;
		width:55px;
		@include taille(16);
		.jour {
			@include taille(26);
		}
	}
	.image {
		display: flex;
		height:146px;
		overflow: hidden;
		width:100%;
		@include bp(md) {
			height:243px;
		}
		img {
			object-fit: cover;
			object-position: center;
			transition:transform var(--transition);
			width:100%;
		}
		&.conserver-image {
			background: #fff;
			justify-content: center;
			img {
				object-fit: contain;
				width:auto;
			}

		}
	}
	.titre-actualite {
		color:var(--bleu);
		@include taille(24);
		transition:color var(--transition);
		&::after {
			display:none;
		}

	}
	a {
		color:var(--noir);
		display: block;
		text-decoration: none;
		width:100%;
		&:hover, &:focus, &:active {
			img {
				transform:scale(1.02);
			}
			.titre-actualite {
				color:var(--cyan);
			}
		}
	}
}

.acf-block-actualites {
	margin-bottom: var(--margin-y);
	padding:0 var(--padding-x-footer) 30px;
	position: relative;
	.decor {
		background-color: var(--bleu-clair);
		clip-path:polygon(14% 5vw, 100% 14vw, 100% 93%, 13% 100%, 0 93%, 0px 8vw);
		//https://bennettfeely.com/clippy/  + outils dév Firefox
		height:100%;
		position: absolute;
		left:0;
		top:0;
		width: 100%;
	}
	.titre, .actualites, .fleche {
		position: relative; // pour passer devant le décor
	}
	.titre {
		@include taille(50);
		text-transform: uppercase;
	}
	.actualites {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		margin:0;
		padding:0 ;
	}
	.actualite {
		flex-basis:424px;
		flex-grow:0;
		flex-shrink:1;
	}
	@include bp(md) {
		.actualites {
			justify-content: space-between;
		}
		.actualite {
			flex-basis:calc((100% - 18px) / 2);
		}
	}
	@include bp(lg) {
		.actualite {
			flex-basis:calc((100% - 2 * 18px) / 3);
		}
	}

	//bloc 6 articles sur 2 colonnes pour la page Actualités
	&.six {
		padding:0 var(--padding-x-grille);
		.actualites {
			padding:0;
		}
		@include bp(md) {
			.actualite {
				flex-basis:calc((100% - 22px) / 2);
			}
		}
	}
	
}