.acf-block-antenne {
	@include bleed;
	
	margin-bottom: 30px;

	.interieur {
		padding: 60px var(--padding-x) 20px;
		position: relative;
	}

	.fond {
		--pointe:25px;
		background-color: var(--fond);
		clip-path:polygon(80% 0, 100% var(--pointe), 100% calc(100% - var(--pointe)), 20% 100%, 0px calc(100% - var(--pointe)), 0 var(--pointe));
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width:100%;
	}
	.col-1, .col-2 {
		position: relative;
	}

	.nom-wrap {
		align-items: center;
		display: flex;
		height:30px;
		justify-content: center;
		position: absolute;
		left:0;
		top : -5px;
		width:100%;
	}
	.nom-antenne {
		color: var(--blanc);
		background-color: var(--cyan);
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		padding: 5px;
		margin: 0;
		max-width: 80%;
		min-width:168px;
		text-align: center;
		line-height: 26px;
		&::after {
			display: none;
		}
		
	}

	.titre {
		color:var(--bleu);
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;

	}

	ul {
		list-style:none;
		margin-bottom: 10px;
		margin-top: 0;
		padding-left:0;
		padding-bottom:10px;

		&.description, &.referents, &.evenements {
			border-bottom: solid 2px var(--blanc);
		}

		&.description {
			list-style:square;
			font-weight: 700;
			padding-left:var(--padding-x);
		}
	}

	.referent {
		align-items: center;
		display: flex;
		margin-bottom: 10px;
		.photo {
			--taille:50px;
			height:var(--taille);
			width:var(--taille);
			margin-right: 15px;
			img {
				border-radius: 100%;
				object-fit: cover;
			}
		}
		.texte {
			p {
				margin-bottom: 0;
			}
		}

	}

	a {
		text-decoration: none;
	}

	.evenements-wrap {
		&.contient-futur .titre {
			color:var(--cyan);
		}

		li {
			margin-bottom: 5px;
			 > a {
				color: var(--bleu);
				&:hover, &:focus {
					color:var(--cyan);
				}
			}
			&.futur {
				> a {
					color:var(--cyan);
					&:hover, &:focus {
						color:var(--bleu);
					}
				}
			}
		}
	}

	.ressources-wrap {
		li {
			display: flex;
			font-weight: 700;
			margin-bottom: 5px;
			
			&.prive {
				color:var(--gris);
				.picto {
					filter: brightness(0.6);
					display: inline-block;
					margin-right: .8ch;
					width: 25px;
					height: 15px;
					svg {
						max-width:100%;
						max-height:100%;
					}
				}
				path {
					fill:var(--gris);
				}
			}
		}
	}

	.popup {
		display: none;
	}

	@include bp(md) {
		margin-bottom: 70px;
		margin-top:70px;
		padding:0 var(--padding-x-grille);

		.interieur {
			display: flex;
			padding:60px 22px 30px;
			position: relative;
			&::after {
				--triangle:23px;
				content:'';
				left:calc(50% - var(--triangle));
				position:absolute;
				top:0;

				display: inline-block;
				height: 0;
				width: 0;
				border-top: var(--triangle) solid var(--blanc);
				border-right: var(--triangle) solid transparent;
				border-left: var(--triangle) solid transparent;
			}
		}

		&.avec-decor {
			&::before {
				background-image:url('icons/decor.svg');
				background-position: bottom right;
				background-repeat: no-repeat;
				background-size: contain;
				content:'';
				position: absolute;
				top: -200px;
				height: 872px;
				right: -500px;
				width: 823px;
				
			}
		}
		
	

		

		.fond {
			clip-path: unset;
		}

		.col-1, .col-2 {
			flex-basis:50%;
		}
		.col-1 {
			padding-right:30px;
		}

		.nom-wrap {
			height:60px;
			justify-content: flex-start;
			padding-left:20px;
			top:-30px;
		}
		.nom-antenne {
			align-items: center;
			border:solid 5px var(--blanc);
			display: flex;
			font-size: 32px;;
			height:60px;
			min-width:300px;
			padding:10px;
			line-height: 43px;
			text-align: left;
		}

		.titre {
			background-color: var(--bleu);
			color:var(--blanc);
			display: inline-block;
			font-size: 20px;
			line-height: 26px;
			padding: 7px 10px 4px;
		}

		ul {
			margin-bottom: 25px;
			&.description, &.referents, &.evenements {
				border-bottom: none;
			}
			&.description {
				padding-left:22px;
			}
		}

		.referent {
			margin-bottom: 20px;
			.photo {
				--taille:85px;
			}
		}

		.evenements-wrap, .ressources-wrap {
			background-color: var(--blanc);
			padding:70px 20px 0;
			position: relative;
			.titre {
				left:-12px;
				position: absolute;
				top:12px;
			}

			li {
				margin-bottom: 10px;
			}

		}

		.evenements-wrap {
			&.contient-futur .titre {
				background-color:var(--cyan);
				color:var(--blanc);
			}
		}

	}

	@include bp(xl) {
		&.avec-decor {
			&::before {
				right: -25%;
			}
		}
	}
}