/*Filtre pour l'agenda et les ressources*/

.filtre {
	border:none;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-bottom: 25px;
	input{
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	label {
		--accent:var(--gris);
		border:solid 1px var(--accent);
		color:var(--accent);
		margin:0 5px 14px;
		padding:5px 10px;
		position: relative;
	}

	input:checked + label {
		--accent:var(--cyan);
		background-color:var(--accent);
		color:var(--blanc);

		&.ressources-cat-1 {
			--accent : var(--bleu);
		}
		&.ressources-cat-3 {
			--accent : var(--violet);
		}
		&.ressources-cat-4 {
			--accent : var(--bleu-fonce);
		}
	}

	@include bp(md) {
		label {
			margin:0 14px 14px;
		}
		&.filtre-ressources {
			margin-top: 34px;
		}
	}
}

button.toggle-filtre {
	align-items: center;
	background-color: transparent;
	border:none;
	color:var(--bleu);
	display: flex;
	margin:0 auto 12px;
	svg {
		margin-right: 8px;
		width:22px;
		path {
			fill:var(--bleu);
		}
	}
	.masquer {
		display:none;
	}
	&.ouvert {
		color:var(--cyan);
		svg path {
			fill:var(--cyan);
		}
		.masquer {
			display:inline;
		}
		.afficher {
			display:none;
		}
	}
}
@media screen and (max-width:767px) {
	.filtre-ressources {
		background-color: var(--bleu-clair);
		padding:15px;
		position: relative;
		flex-wrap: wrap;
		&::before {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 12px solid var(--bleu-clair);content:'';
			display:inline-block;
			height: 0;
			left: calc(50% - 15px);
			position:absolute;
			top:-12px;
			width: 0;

		}
		label {
			flex-basis:100%;
			margin:0 0 13px;
			padding:8px 10px;
			&::after {
				position: absolute;
				right:10px;
				top:8px;
			}
		}
	}
}