.acf-block-image-decalee {
	clear:both;
	display:flex;
	justify-content: center;
	margin-bottom:34px;
	.image {
		display: flex;
		height:260px;
		position: relative;
		width: 294px;
		img {
			object-fit: cover;
			width:100%;
		}
		.decor {
			background: var(--gradient);
			bottom:-20px;
			height:125px;
			left:20px;
			opacity: 0.5;
			position: absolute;
			width:106px;
		}
	}
	@include bp(md) {
		float: left;
		margin-right: 39px;
	}
	&.decalee {
		@include bp(lg) {
			display: flex;
			justify-content: flex-end;
			overflow: visible;
			width:250px;
			.image {
				flex-basis: 294px;
				flex-shrink: 0;
			}
		}
		@media screen and (min-width:1200px) {
			width:183px;
		}
	}
}

.acf-block-frise {
	margin-bottom:46px;
	margin-top:26px;
	padding:0 var(--padding-x-grille);
	.images {
		display: flex;
		flex-wrap:wrap;
		position: relative;
	}
	.image {
		display:flex;
		flex-basis:50%;
		height:178px;
		width:50%;
		img {
			object-fit:cover;
			object-position: center;
			width:100%;
		}
	}
	.decor {
		background: var(--gradient);
		bottom:-20px;
		height:125px;
		left:20px;
		opacity: 0.5;
		position: absolute;
		width:90px;
	}
	.decor-2 {
		bottom:unset;
		height: 156px;
		left:unset;
		right:20px;
		top:-20px;
	}
	.decor-3 {
		display: none;
	}
	@include bp(md) {
		flex-wrap: nowrap;
		.image {
			flex-basis: 25%;
			width:25px;
		}
		.decor-2 {
			left:51%;
			right:unset;
		}
		.decor-3 {
			display: block;
			left:78%;
			height:86px;
		}
	}
}