.wp-block-columns {
	//Dans la page Gouvernance
	&.antennes-regionales {
		align-items: center;
		ol {
			@include taille(22);
			color:var(--bleu);
			font-weight: 700;
			li {
				margin-bottom: 1em;
			}
		}
	}

	//Dans la page Antennes régionales (2022)
	&.sommaire-antennes {
		ol {
			font-weight: 700;
		}

		li a {
			text-decoration:none;
		}

		@media screen and (max-width:600px) {
			//Centrer liste et masquer carte en mobile
			figure {
				display: none
			}
			li {
				text-align: center;
			}
		}
	}
}

.decor-traits {
	position: relative;
	&::before {
		background-image:url('icons/decor-droit.svg');
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: contain;
		content:'';
		position: absolute;
		height:600px;
		right:-300px;
		width:545px;
		top:-200px;
		@include bp(md) {
			top:-120%;
			height:872px;
			right:-90%;
			width:823px;
		}
	}
}

.wp-block-image {
	figcaption {
		font-style: italic;
	}
	&.alignwide {
		@include bleed;
		padding:0 var(--padding-x-grille);
		figcaption {
			text-align: right;
		}
	}
}

/*Galeries créées avec Meow Gallery*/
.mgl-masonry-container, .mgl-tiles-container, .mgl-justified-container, .mgl-square-container, 
.mgl-cascade-container {
	@include bleed;
	padding:0 var(--padding-x-grille);
	margin-bottom:var(--margin-y);
}